* {
    margin: 0;
    padding: 0;
    color: #fff;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.main {
    width: 750px;
    height: 808px;
    margin: 0 auto;
    overflow: hidden;
}
.main li {
    position: relative;
    width: 750px;
    height: 241px;
    margin-top: 21px;
    background-size: 750px 242px;
    background: url(./images/bg1.png) no-repeat ;
}
.main li .produceImg {
    position: absolute;
    top: 33px;
    left: 15px;
}
.main li .detail {
    position: absolute;
    left: 395px;
    top: 52px;
}
.main li .detail p,
.main li .detail span {
    display: inline-block;
}
.main li .detail .title {
    font-size: 34px;
}
.main li .detail .point {
    width: 9px;
    height: 9px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ee5a18;
    vertical-align: top;
}
.main li .detail .section {
    margin: 12px 0 0 10px;
    width: 320px;
    font-size: 16px;
}